
body {
  background-color: rgb(255, 255, 255)
}


.imagenportada {
  /* height: 120px;
  width: 1400px;
  margin-left: 300px;
  justify-content: center;
  display: flex;*/
  height: 200px;
  width: 1100px;
  flex-wrap: wrap;
  min-height: 200px;
}

.busqueda1 {
  text-align: center;
}

.imagen2 {
    width: 600px;
    height: 400px;
    margin-left: 350px;
    margin-right: 200px;
}

.titulodos {
  text-align: center;
}

.fotoartics {
  margin-left: 200px;
  width: 300px;
  height: 4000px;
  justify-content: center;
}

  h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h3 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 420px;
  margin-right: 50px;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.videos {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
  height: 200px;
  width: 1200px;
  margin-left: 30px;
  margin-top: 30px;
}

.videos li {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.arcticfoto { 
  height: 300px;
  width: 500px;
  margin-left: 110px;
  justify-content: center;
}

.gunsfoto {
  height: 300px;
  width: 500px;
  margin-left: 110px;
  justify-content: center;
}

.acdc {
  height: 300px;
  width: 500px;
  margin-left: 110px;
  justify-content: center;
}

.biza {
  height: 300px;
  width: 500px;
  margin-left: 110px;
  justify-content: center;
}

.carousel-inner {
  height: 500px;
  width: 800px;
  margin-left: 200px;
  margin-right: 100px;
  justify-content: center;
  text-align: center;
  min-width: 200px;
}

.fotodeportada {
  height: 400px;
  width: 1100px;
  flex-wrap:nowrap;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  justify-content: center;

}

ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
}

.lineas {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  list-style-type: none;
  justify-content: center;
}

.mapita {
  margin-left: 650px;
  justify-content: center;
}

.artistas {
  text-align: center;
  justify-content: center;
}

.fotopublico {
  height: 500px;
  width: 800px;
  margin-top: 40px;
  margin-left: 220px;
  margin-right: 40px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
}

.primerparrafo {
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.segundoparrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.logo {
  width: 10rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat;
  grid-gap: 5px;
  align-items: center;
}


/* OJOOOOOOOOOOOOOOSADASDASDJKHAKDSHAHSDAJHDKAHSDJHAKHDSAHDAHKDHAKHDKAHDAHDJHAKDSHAHDKJASDKAHSDHAKDHA */
/* MEDIA / VISTA SMARTPHONES 390x844 */

@media screen and (max-width: 600px) {


.imagenportada {
  height: 140px;
  width: 600px;
}

.busqueda1 {
  text-align: center;
  margin-left: auto;
  display: flex;
}

.imagen2 {
    margin-left: 180px;
    width: 200px;
    height: 100px;
    margin-left: 90px;
    justify-content: center;

}

.titulodos {
  text-align: center;
}

.fotoartics {
  margin-left: 80px;
  width: 110px;
  height: 1100px;
  justify-content: center;
}

h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px  ;
}

h1 {
  text-align: center;
}


.fotopublico {
  height: 150px;
  width: 350px;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  display: flex;
}


.videos {
  list-style-type: style type;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.videos li {
  margin-right: 10px;
  justify-content: center;
  display: grid;
}

.arcticfoto { 
  height: 150px;
  width: 300px;
  margin-left: 60px;
  justify-content: center;
}

.gunsfoto {
  height: 150px;
  width: 300px;
  margin-left: 60px;
  justify-content: center;
}

.acdc {
  height: 150px;
  width: 300px;
  margin-left: 60px;
  justify-content: center;
}

.biza {
  height: 100px;
  width: 200px;
  margin-left: 60px;
  justify-content: center;
}

.carousel-inner {
  height: 150px;
  width: 350px;
  margin-left: 20px;
  margin-right: 20px;
  /* justify-content: center; */
  /* text-align: center; */
  /* min-width: 30px; */
}

.fotodeportada {
  height: 160px;
  width: 390px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
}

ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
}

.lineas {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  list-style-type: none;
  justify-content: center;
}

.mapita {
  height: 150px;
  width: 300px;
  margin-left: 60px;
}

.artistas {
  text-align: center;
  justify-content: center;
  font-size: 10px;
}

.primerparrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


.segundoparrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.logo {
  width: 5rem;
}
}

.grid-container {
  display: grid;
  grid-template-columns: repeat;
  grid-gap: 4px;
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}