.busqueda1 {
    text-align: center;
  }
  
  .imagen2 {
    margin-left: 280px;
    width: 800px;
    height: 500px;
    margin-left: 500px;
    justify-content: center;
    display: flex;
  }
  
  .titulodos {
    text-align: center;
  }
  
  .fotoartics {
    margin-left: 200px;
    width: 300px;
    height: 4000px;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .fotopublico {
    height: 700px;
    width: 1200px;
    margin-left: 200px;
    justify-content: center;
  }
  
  .videos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    display: flex;
  
    li {
      margin-right: 10px;
      justify-content: center;
      }

    }
  
  
  .arcticfoto, .gunsfoto, .acdc, .biza {
    height: 300px;
    width: 500px;
    margin-left: 110px;
    justify-content: center;
    display: flex;
  }
  
  .carousel-inner {
    height: 1000px;
    width: 1800px;
    margin-left: 65px;
    justify-content: center;
    text-align: center;
  }
  
  .mapita {
    margin-left: 650px;
    justify-content: center;
    display: flex;
  }
  
  .artistas {
    text-align: center;
    justify-content: center;
  }
  